@import '~react-redux-spinner/dist/react-redux-spinner.css';
@import '~react-animated-slider/build/horizontal.css';
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

#nprogress .bar {
    background-color: #f4590a;
    z-index: 5000;
}
   
#nprogress .spinner-icon {
    border-top-color: #f4590a;
    border-left-color: #f4590a;
}
   
#nprogress .peg {
    box-shadow: 0 0 10px #f4590a, 0 0 5px #f4590a;
}

.react-toast-notifications__container{
    z-index: 5000 !important;
}



//@at-root

.previousButton, .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
}
